/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

/*去掉原样式中的小黑点*/
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

/*输入字居中显示*/
select, input, textarea {
    font-size: 14px;
    margin: 0;
}

/**/
textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle; /*  去掉图片底部默认的3像素空白缝隙*/
}

table {
    border-collapse: collapse; /*合并外连线*/
}

body {
    font: 14px/150% Arial, Verdana, "\5b8b\4f53"; /*unitedCode的写法，宋体的写法*/
    color: #666; /*150%基于当前字体尺寸的百分比行间距*/
    background: #fefefe;
}

.clearfix:before, .clearfix:after {
    /*清除浮动，最好最标准的写法*/
    content: "";
    display: table;
    /*bfc  块级格式化上下文*/
    /* display: inline-block talbe-cel */
    /*display: table-cell;*/
}

/*.clearfix:after {*/
/*content: "";*/
/*height: 0;*/
/*line-height: 0;*/
/*display: block;*/
/*visibility: hidden;*/
/*clear: both;*/
/*}*/

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/  /*兼容IE6下的写法*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #ff24d2;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*公共类*/
.col-main {
    color: #ff24d2 !important;/*哆咪主色调*/
}

.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}

/*css初始化完成*/



/*  --------------------------- 公共样式 Begin */
.icon-arrow {
    width: 16px;
    height: 8px;
    overflow: hidden;
    position: absolute;
    top: 18px;
    right: -17px;
}
.icon-arrow s {
    width: 12px;
    height: 7px;
    line-height: 16px;
    position: absolute;
    top: -8px;
}
.dropdown {
    margin-right: 10px;
    position: relative;
}
/* 公共样式 End */

/*  ------------------------------- 通栏 Begin */
.dm-shortcut {
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    background: rgba(165, 165, 165, 0.3);
    position: relative;
}
.dm-shortcut ul {
    padding-right: 10px;
}
.dm-shortcut li {
    color: #646464;
    float: left;
}
.dm-shortcut .spacer{
    width: 1px;
    height: 12px;
    padding: 0;
    margin: 14px 20px 0;
    background: #ff24d2;
    overflow: hidden;
}
/* 通栏 End */
/*头部Begin--------------------------------------------------------------------------Begin*/
/*  -------------------------------  logo/搜索栏/购物车Begin */
.dm-header {
    height: 100px;
    line-height: 100px;
}
/* -------logo */
.dm-header .logo{
    height: 100px;
    width: 300px;
    background: url("../images/domi.png");
    margin-right: 50px;
}
.dm-header .logo h1 {
    text-align: center;
    text-indent: -10000px;
    font-size: 36px;
    color: #ff24d2;
}
/* --------search*/
.dm-header .search {
    /*如何消除标签间的空格的缝隙? */
    font-size: 0;
}
.dm-header .search .search-txt{
    width: 500px;
    height: 42px;
    font-size: 16px;
    border: 3px solid #ff24d2;
    box-sizing: border-box;
    padding: 0 10px;
}
.dm-header .search .search-btn {
    width: 60px;
    height: 42px;
    line-height: 42px;
    color:white;
    font-size: 16px;
    font-weight: bold;
    background: #ff24d2;
}
/* --------cart*/
.dm-header .cart {
    width: 140px;
    height: 38px;
    line-height: 42px;
    font-size: 16px;
    text-align: right;
    padding-right: 20px;
    border:1px solid #ff24d2;
    /*border: 1px solid #c6c6c6;*/
    background: rgba(165, 165, 165, 0.2);
    margin-top: 30px;
    position: relative;
    right: 20px;
}
.cart .fa {
    font-size: 24px;
    color: #ff24d2;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -12px;
}
.cart .arrow-right {
    font-weight: bold;
    font-family: "SimSun", "宋体";
}
/*  logo/搜索栏/购物车 End */
/* ----------------------------------  导航栏 Begin*/
.dm-nav {
    position: relative;
}
.dm-nav .nav{
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #ff24d2;
}
.dm-nav li {
    float: left;
    width: 200px;
    box-sizing: border-box;
    text-align: center;
}
.dm-nav .nav-content li{
    width: 100%;
    text-align: left;
    position: absolute;
    opacity: 0;
    z-index: 999;
    background: rgba(255,255,255,0.5);   /*改变导航栏透明度*/
}
.dm-nav .nav-content li a {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin:0px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.dm-nav .nav-content li a:hover {
    color: blue;
}
/* 导航栏 End */
/*头部End---------------------------------------------------------------------------------头部End*/
/*底部Begin---------------------------------------------------------------------------------底部Begin*/
.footer {
    height: 350px;
    background: #333;
}
.footer .footer-logo {
    font-size: 24px;
    height: 120px;
    line-height: 110px;
    color: #888888;
    font-weight: bold;
    text-align: center;
}
/*-------------底部分享链接---------*/
.footer .footer-share {
    height: 45px;
    text-align: center;
}
.footer .footer-share a{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    background: #808080;
    text-align: center;
    margin: -18px 10px;
    position: relative;
}

.footer .footer-share a .fa {
    display: inline-block;
    color: #c6c6c6;
    font: normal normal normal 22px/1 FontAwesome;
    position: absolute;
    left: 10px;
    top: 10px;
}
.footer .footer-share a .fa.fa-github {
    font: normal normal normal 24px/1 FontAwesome;
    left: 11px;
}
.footer .footer-share a .fa.fa-android {
    font: normal normal normal 24px/1 FontAwesome;
    left: 12px;
}
.footer .footer-share .line {
    display: inline-block;
    height: 45px;
    width: 1px;
    background: #666;
    margin: -18px 10px;
}
.footer .footer-share a:last-of-type {
    width: 140px;
    height: 40px;
    line-height: 40px;
    color: #c6c6c6;
    font-size: 16px;
    border-radius: 18px;
    text-align: right;
    padding-right: 13px;
}
.footer .footer-share a .fa.fa-whatsapp {
    font: normal normal normal 24px/1 FontAwesome;
    left: 15px;
    top: 9px;
}
.footer .footer-share a:hover {
    background: #ff24d2;
}
/*--------------底部相关网站链接 ---------*/
.footer .footer-siteLinks {
    margin-top: 40px;
    text-align: center;
}
.footer .footer-siteLinks a {
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: #797979;
    margin: 0 10px;
}
.footer .footer-siteLinks a:hover {
    color: #ff24d2;
}
/*-------底部版权--------*/
.footer .footer-copyright {
    text-align: center;
    color: #797979;
    margin-top: 20px;
    font-size: 14px;
}
.footer .footer-copyright a {
    color: inherit;
}
/*底部End----------------------------------------------------------------------------------底部End*/
