/*商品详情样式*/
body {
    background: #f2f2f2;
}
.dm-header {
    background: white;
}
.dm-header .goods-nav {
    font-size: 22px;
    font-weight: bold;
}
.dm-header .goods-nav li{
    float: left;
    height: 100px;
    line-height: 120px;
    margin:0px 25px;

}
.dm-header .cart {
    margin-top: 37px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
    background: none;
}
.dm-header .cart a {
    color: #75c473;
}
.dm-header .cart .fa {
    color: #6db27c;
    font-size: 22px;
    left: 25px;
    top: 60%;
}
/* ----------------------------------------- 面包屑导航wrapper Begin*/
.wrapper {
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
    color: #777777;
    padding-left: 120px;
}
.wrapper .breadcrumb li{
    float: left;
    margin: 0px 5px;
}
.wrapper .breadcrumb a {
    color: inherit;
}
/*面包屑导航 wrapper End*/   /*-----------以上是和商品详情页重复----------*/

/*------------------------------------------------购物车内容cart-box Begin*/
.cart-box .steps {
    height: 82px;
    line-height: 82px;
    background: #f8f8f8;
    margin-bottom: 20px;
}
.cart-box .steps li {
    float: left;
    width: 33.33%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
}
.cart-box .steps li div{
    height: 5px;
    background: white;
}
.cart-box .steps li.steps-cart {
    background: white;
}
.cart-box .steps li.steps-cart div{
    height: 5px;
    background: linear-gradient(to right, #ffda7a 0, #f57549 100%);
}
.cart-box .steps li h5 {
    font-size: 20px;
    font-weight: bold;
}
.cart-box .steps li.steps-cart h5 {
    color: black;
}
/* -------购物车列表表单---*/
/*购物车列表头部*/
.cart-list-box {
    background: white;
    height: 1000px;
}
.cart-box .cart-list-box .cart-list-header {
    display: block;
    overflow: hidden;
    padding: 18px 30px;
    border-bottom: 1px solid #dddddd;
}

.cart-list-box .cart-list-header li {
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.cart-list-box .cart-list-header .one {
     width: 14%;
    box-sizing: border-box;
    padding-left: 30px;
    text-align: left;
    position: relative;
}
.cart-list-box .cart-list-header .two {
    width: 40%;
    text-align: left;
}
.cart-list-box .cart-list-header .three {
    width: 17%;
}
.cart-list-box .cart-list-header .four {
    width: 16%;
}
.cart-list-box .cart-list-header .five {
    width: 13%;
}
.cart-list-box .cart-list-header .icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*购物车商品列表*/
.cart-list-content {
    padding: 40px 30px;
    background: #f9f9f9;
}
.cart-list-content .cart-product {
    padding: 20px 0;
    height: 104px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
/*商品选择*/
.cart-list-content .check-box-label {
    display: inline-block;
    margin: 0 30px 0 0;
    cursor: pointer;
    position: relative;
}
.cart-list-content .icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: absolute;
    top: -47px;
    left: 0px;
}
.cart-list-content .cart-product .cart-product-image img {
    width: 104px;
    height: 104px;
}
.cart-list-content .cart-product-info {
    width: 1000px;   /*商品购买信息*/

}
.cart-list-content .cart-product-info .cart-product-description {
    float: left;
    width: 50%;
}
.cart-list-content .cart-product-description .heading {
    display: block;
    color: #000;
    font-weight: 700;
    font-size: 16px;
}
.cart-list-content .cart-product-description p {
    margin-top: 8px;
    font-size: 14px;
    color: #000;
}
/*编辑数量*/
.cart-list-content .cart-product-info .counter-box {
    float: left;
    width: 15%;
    margin-top: 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 5px;
    position: relative;
}
.cart-list-content .cart-product-info .counter-box a {
    color: #7b7b7b;
    position: absolute;
    width: 28px;
    text-align: center;
    cursor: pointer;
    top: 10px;
}
.cart-list-content .cart-product-info .btn-minus {
    left: 6px;
}
.cart-list-content .cart-product-info .number {
    width: 100%;
    font-size: 17px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 28px;
}
.cart-list-content .cart-product-info .btn-plus {
    right: 6px;
}

.cart-list-content .cart-product-info .cart-product-price {
    float: left;
    width: 22%;
    line-height: 38px;
    font-size: 16px;
    color: #393939;
    margin-top: 0;
    text-align: center;
}
/*删除*/
.cart-list-content .cart-product-info  .cart-product-delete-word {
    float: left;
    width: 11%;
    line-height: 38px;
    font-size: 16px;
    color: #393939;
    text-align: center;
    cursor: pointer;
}




/*购物车内容cart End*/
















