/*商品详情样式*/
.dm-header .goods-nav {
    font-size: 22px;
    font-weight: bold;
}
.dm-header .goods-nav li{
    float: left;
    height: 100px;
    line-height: 155px;
    margin:0px 25px;

}
/*-----------------------------导航栏效果Begin-----------------*/
.dm-header .nav-content li{
  /*  width: 50%;
    height: 40px;*/
    line-height: 40px;
    text-align: left;
    position: absolute;
    top: 140px;
    left: 520px;
    opacity: 0;
    z-index: 999;
    border: 1px solid #f5a7ec;
    background: rgba(250,230,36,0.1);   /*改变导航栏透明度*/
}

.dm-header .nav-content li a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin:0px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.dm-header .nav-content li a:hover {
    color: #3fcab8;
}
/*-----------------------------导航栏效果End-----------------*/
.dm-header .cart {
    margin-top: 55px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
    background: none;
}
.dm-header .cart a {
    color: #ff24d2;
}
.dm-header .cart .fa {
    color: #ff24d2;
    font-size: 30px;
    left: 25px;
    top: 40%;
}
/* ----------------------------------------- 面包屑导航wrapper Begin*/
.wrapper {
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
    color: #777777;
    padding-left: 120px;
}
.wrapper .breadcrumb li{
    float: left;
    margin: 0px 5px;
}
.wrapper .breadcrumb a {
    color: inherit;
}
/*面包屑导航 wrapper End*/
/* -------------------------------------------- 商品选购内容 Begin*/
.buying-details {

}
/*----------------------商品图片信息 ----------------*/
.buying-details .buying-preview {
    width: 580px;
    height: 600px;
    box-sizing: border-box;
    padding: 10px 65px;
}
.buying-details .main-img li {
    float: left;
    width: 450px;
    height: 450px;
    border: 1px solid rgba(215, 207, 207, 0.97);
    opacity: 0;
    display: none;
}
.buying-details .main-img li:first-of-type {
    opacity: 1;
    display: block;
}

/* -----商品小图列表------*/
.buying-details .spec-items {

}
.buying-details .spec-items li {
    float: left;
    box-sizing: border-box;
    border: 1px solid white;
    margin: 20px 16px;
}
.buying-details .spec-items li:first-of-type{
    border: 1px solid #fba45e;
}

/* --------商品图片底部信息 ------*/
.preview-info a {
    display: inline-block;
    padding:  0 5px;
    font-size: 14px;
    color: #525252;
}
.preview-info .fa {
    color: #E3393C;
}
.preview-info a:hover {
    color: #E3393C;
}
/*----------------------商品内容信息-----------------------*/
.buying-details .buying-itemInfo {
    width: 620px;
    height: 600px;
    box-sizing: border-box;
    padding: 20px 0px;
}
.buying-details .buying-itemInfo .product-title {
    font-size: 24px;
    color: #393939;
    margin:0px 0px 10px;
}
.buying-itemInfo .product-summary {
    color: #878787;
    font-size: 13px;
}
.buying-itemInfo .product-price {
    padding:20px 0;
    color: #f30;
    font-size: 24px;
    font-weight: 400;
    margin-right: 8px;
}
/*----表单内部----商品选购属性_颜色,网络,容量------*/
.add-cart-form {

}
.add-cart-form .product-attribute {
    border-bottom: 1px dashed #fba45e;
    padding-bottom: 20px;
}
.add-cart-form .product-attribute .attribute {
    width: 588px;
    height: 50px;
    line-height: 50px;
    color: #393939;
}
.add-cart-form .product-attribute p,.add-cart-form .product-service p {
    width: 76px;
    font-size: 14px;
}

.add-cart-form .product-attribute a {
    display: inline-block;
    width: 250px;
    height: 32px;
    line-height: 32px;
    color: #646464;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fba45e;
    border-radius: 4px;
    cursor: default;
}
/*----表单内部----商品选购服务信息----*/
.add-cart-form .product-service {
    width: 620px;
    height: 100px;
    line-height: 50px;
    color: #393939;
    padding:20px 0px;
    border-bottom: 1px dashed #fba45e;
}
.add-cart-form .product-service li  {
    float: left;
    padding-right: 10px;
}

.add-cart-form .product-service .service-list {
    width: 512px;
}
.add-cart-form .product-service li a {
    display: inline-block;
    width: 160px;
    height: 32px;
    line-height: 32px;
    color: #646464;
    font-size: 14px;
    text-align: left;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    padding-left: 50px;
    cursor: default;
}
.add-cart-form .product-service li i{
    display: inline-block;
    width: 32px;
    height: 31px;
    text-align: center;
    color: orange;
    font-weight: bold;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    position: absolute;
    left: 0px;
}
/*-------表单内部-------修改数量,提交到购物车或立即购买------*/
.add-cart-form .buying-actions {
    width: 588px;
    height: 90px;
    box-sizing: border-box;
    padding:30px 20px;
}
.add-cart-form .buying-actions .counter-box {
    width: 147px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 3px;
    position: relative;
}
.add-cart-form .buying-actions .counter-box a {
    color: #7b7b7b;
    position: absolute;
    width: 40px;
    text-align: center;
    cursor: pointer;
}
.add-cart-form .buying-actions .btn-minus {
    left: 0px;
}
.add-cart-form .buying-actions .number {
    width: 140px;
    font-size: 17px;
    text-align: center;
    box-sizing: border-box;
    padding: 8px 28px;
}
.add-cart-form .buying-actions .btn-plus {
    right: 0;
}
.add-cart-form .buying-actions .button-container {
    width: 360px;


}
.add-cart-form .buying-actions .button-container a {
    display: inline-block;
    text-align: center;
    width: 160px;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    border-radius: 6px;
}
.add-cart-form .buying-actions .button-light {
    color: green;
    font-size: 18px;
    background: #89e09c;
}
.add-cart-form .buying-actions .button-light:hover{
    background: #7cd07a;
}
.add-cart-form .buying-actions .button-primary {
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: #fba45e;
}
.add-cart-form .buying-actions .button-primary:hover {
       background: #fb5e5e;
}

/* --------配送信息提示 -----*/
.buying-details .buying-itemInfo .delivery-specs {
    padding:  0 5px;
    font-size: 14px;
    margin-top: 26px;
}
/*商品选购内容 End*/

/*--------------------------------------------- 商品详情信息 Begin*/
.product-details {
    width: 100%;
    height: 50px;
    border-top: 1px solid red;
}


/*商品详情信息 End*/

/*底部Begin---------------------------------------------------------------------------------底部Begin*/
.footer {
    /*background: linear-gradient(to bottom,#f3dddf, #ea83c7);*/
    background: white;
}
.footer .footer-logo {
    color: #8a8a8a;
}
/*-------------底部分享链接---------*/
.footer .footer-share a{
    background: #8a8a8a;
}

.footer .footer-share a .fa {
    color: #ffe8ea;
}
.footer .footer-share .line {
    background: #666;
}
.footer .footer-share a:last-of-type {
    color: #ffe8ea;
}
.footer .footer-share a:hover {
    background: #fba45e;
}
/*--------------底部相关网站链接 ---------*/
.footer .footer-siteLinks a {
    color: #000;
}
.footer .footer-siteLinks a:hover {
    color: #fba45e;
}
/*-------底部版权--------*/
.footer .footer-copyright {
    color: #000;
}
.footer .footer-copyright a {
    color: inherit;
}
/*底部End----------------------------------------------------------------------------------底部End*/
