.main {
    background: white;
}
/* --------------------------------------- 轮播图 Begin */
.dm-lbt {
    height: 450px;
    overflow: hidden;
    position: relative;
}
/* ---------- 轮播图片*/
.dm-lbt .lbt-img li {
    opacity: 0;
    position: absolute;
    z-index: 0;
}
.dm-lbt .lbt-img li.first{
    opacity: 1;
    z-index: 1;
}
/* ------------ 左右按钮 */
.dm-lbt .lbt-arrow {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
}
.dm-lbt .lbt-arrow span {
    width: 42px;
    text-align: center;
    font-family: "SimSun", "宋体";
    font-size: 36px;
    font-weight:bold;
    color: white;
    background: rgba(0,0,0,0.3);
}
/* ---------- 自动切换小图标 */
.dm-lbt .lbt-num {
    width: 200px;
    height: 20px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    margin-bottom: 10px;
    left: 50%;
    margin-left: -100px;
}
.dm-lbt .lbt-num li{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    float: left;
    margin: 0 10px;
}
.dm-lbt .lbt-num li.current {
    background: rgba(255, 36, 210, 1);
}
/*轮播图 End */
/* --------------------------------------- 今日热门 Begin*/
.dm-today {
    height: 300px;
    margin-top: 35px;
}
/* --------------今日热门标题*/
.dm-today .today-title{
    width: 100px;
    height: 300px;
}
.dm-today .today-title li{
    width: 120px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    box-sizing: border-box;
    float: left;
}
.dm-today .today-title li.new {
    color: yellow;
}
    /* ----------- 今日热门内容*/
.dm-today .today-content {
    width: 1080px;
    height: 300px;
    line-height: 300px;
    position: relative;
}
.dm-today .today-content li{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    display: none;
    box-sizing: border-box;  /*放置在设置边框的元素里面*/
    /*padding: 25px 0px 30px 0px;*/
    padding-top: 10px;
}
.dm-today .today-content li.new{
    opacity: 1;
    display: block;
}
/*---------背景颜色 bg*/
.bg-pink {
    background: rgb(251, 128, 88);
}
.bg-green {
    background: rgb(126, 207, 119);
}
/*---------边框颜色 b*/
.b-pink {
    border: 1px solid rgb(251, 128, 88);
}
.b-green {
    border: 1px solid rgb(126, 207, 119);
}
/*-----------新品/热销商品-----------*/
.dm-today .today-content li div {
    width: 25%;
    height: 285px;
    line-height: 0px;
    float: left;
    box-sizing:border-box;
    border-right:1px solid yellow;
}
.dm-today .today-content li div:last-of-type {
     border-right:none;
}
.today-content li div .prod-pic {
    display: inline-block;
    width: 100%;
    height: 180px;
    line-height: 180px;
    text-align: center;
}
.today-content li div .prod-pic img {
    width:  180px;
    height: 180px;
}
.today-content li div .prod-name {
    display: inline-block;
    width: 100%;
    line-height: 20px;
    text-align: center;
    box-sizing:border-box;
    padding: 20px 30px;
}
.today-content li div p {
    font-size: 16px;
    color: red;
    /*text-indent: 30px;*/
    text-align: center;
}
.today-content li div p span {
    display: inline-block;
    font-size: 12px;
    color: #999;
    margin-left: 5px;
}
/*今日热门End*/

/*---------------------------------------------品牌汇 Begin */
.dm-pinpaihui {
    margin-top: 50px;
    line-height: 80px;
    /*高度随内容变化*/
}
.dm-pinpaihui .title {
    width: 210px;
    height: 80px;
    font-size: 28px;
    font-weight: bold;
    font-family: '黑体';
    color: #572fdc;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #2989f0;
}
.dm-pinpaihui .nav li {
    float: left;         /*品牌汇里的列表li都会左浮动*/
}
.dm-pinpaihui .nav li a{
    display: block;
    box-sizing: border-box;      /* c3属性  宽高大小以什么为准*/
    width: 200px;
    height: 80px;
    font-size: 20px;
    text-align: center;
    color: #f8f8f8;
    background: #75A8E4;
    border: 1px solid #2989f0;
    position: relative;
}
.dm-pinpaihui .nav li:first-of-type a{
    background-color: rgba(255, 36, 210, 1);  /*默认第一个选中*/
}
.dm-pinpaihui .nav li a span {
    position: relative;
    z-index: 2;
}
.dm-pinpaihui .nav li a::before {
    position: absolute;
    width: 200px;
    height: 80px;
    z-index: 1;
    content: "";
    top: -1px;
    left: -1px;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 36, 210, 1);
    transition: all .4s ease;
    transform: scale(.5); /* css3属性 ------ scale 缩放比例*/
}
.dm-pinpaihui .nav li:hover a::before{
    transform: scale(0.99);
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}
/*-------------------品牌汇内容pinpai-content   Begin */
.dm-pinpaihui .goods-content {
    height: 350px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #70c2fe;
    background: rgba(112,194,254,0.12);
}
.dm-pinpaihui .goods-content li{
    opacity: 0;
    display: none;
    overflow: hidden;
}
.dm-pinpaihui .goods-content li:first-of-type{
    opacity: 1;
    display: block;
}
/*---------产品内容-------*/
.dm-pinpaihui .goods-content li div{
    float: left;
    width: 289px;
    height: 328px;
    background: white;
    text-align: center;
    box-sizing: border-box;
    box-shadow: none;
    padding: 45px 10px;
    margin-right: 10px;
    /*box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1);*/
}
.dm-pinpaihui .goods-content li div:last-of-type {
    margin-right: 0px;
}
.dm-pinpaihui .goods-content div:hover {
    box-shadow:  0px 0px 25px rgba(0, 0, 0, 0.2);
}
.dm-pinpaihui .goods-content div:nth-child(4n){   /*选中4倍数的元素*/
    margin-right: 0px;
}
/*图片*/
.dm-pinpaihui .goods-content div .picture{
    display: inline-block;
    width: 100%;
    height: 180px;
}
.dm-pinpaihui .goods-content .picture img {
    width: 160px;
}
/*内容,包括标题,价格,简介*/
.dm-pinpaihui .goods-content .content {
    display: inline-block;
    margin-top: 35px;
}
.dm-pinpaihui .goods-content .goods-title{
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    font-family: "SimSun", "宋体";
    color: black;
}
.dm-pinpaihui .goods-content .goods-title i{
    color: red;
}
.dm-pinpaihui .goods-content .goods-desc{
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
}

/* 品牌汇 End  */
/* ---------------------------------------------广告1 Begi*/
.dm-advertise ul li {
    width: 33.33%;
    float: left;
    margin-top: 20px;
}
.dm-advertise ul li img {
    cursor: pointer;
}
/* 广告1 End */
/* ---------------------------------------------精选配件dm-peijian  Begin */
.dm-peijian {
    margin-top: 20px;
}
.dm-peijian .title {
    width: 230px;
    height: 80px;
    line-height: 80px;
    font-size: 28px;
    font-weight: bold;
    font-family: '黑体';
    color: #572fdc;
    text-align: center;
    box-sizing: border-box;
}
.dm-peijian .content {
    box-sizing: border-box;
    height: 607px;
    border: 1px solid #70c2fe;
}
/*------------------------- 配件左边内容 */
.dm-peijian .content-left {
    width: 371px;
    height: 100%;
    position: relative;
}
.dm-peijian .content-left .lbt-img {
    height: 605px;
    overflow: hidden;
    position: relative;
}
/* ---------- 轮播图片*/
.dm-peijian .content-left .lbt-img li {
    opacity: 0;
    position: absolute;
    z-index: 0;
}
.dm-peijian .content-left .lbt-img li.first{
    opacity: 1;
    z-index: 1;
}
/* ---------- 自动切换小图标 */
.dm-peijian .content-left .lbt-num {
    width: 90px;
    height: 20px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    margin-bottom: 10px;
    left: 50%;
    margin-left: -45px;
}
.dm-peijian .content-left .lbt-num li{
    width: 10px;
    height: 10px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    float: left;
    margin: 0 10px;
}
.dm-peijian .content-left .lbt-num li.current {
    background: rgb(78, 204, 255);
}
/*------------------------- 配件右边内容 */
.dm-peijian .content-right {
    width: 830px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    background: #fde3ec;
}
.dm-peijian .content-right  li {
    width: 250px;
    height: 285px;
    line-height: 0px;
    float: left;
    background: white;
    box-sizing:border-box;
    margin:0px 10px 10px;
    padding-top: 10px;
}
.dm-peijian .content-right li:last-of-type {
     border-right:none;
}
.content-right li .prod-pic {
    display: inline-block;
    width: 100%;
    height: 180px;
    line-height: 180px;
    text-align: center;
}
.content-right li .prod-pic img {
    width:  180px;
    height: 180px;
}
.content-right li .prod-name {
    display: inline-block;
    width: 100%;
    line-height: 20px;
    text-align: center;
    box-sizing:border-box;
    padding: 20px 30px;
}
.content-right li p {
    font-size: 16px;
    color: red;
    /*text-indent: 30px;*/
    text-align: center;
}
.content-right li p span {
    display: inline-block;
    font-size: 12px;
    color: #999;
    margin-left: 5px;
}

 /*精选配件dm-peijian End  */

/*------------------这是分割线---------------------------------------------------*/

/* --------------------------------------- 底部footer Begin */
/*.footer-before{
    width: 1px;
    height: 380px;
    display: inline-block;
}*/
.footer{
    width: 100%;
    margin-top: 20px;
    /*position: fixed;*/
    /*bottom: 0px;*/
    /*z-index: -99;*/
}
/*底部 footer End*/