/*  --------------------------- 公共样式 Begin */
 .icon-arrow {
     width: 12px;
     height: 6px;
     overflow: hidden;
     position: absolute;
     top: 18px;
     right: -15px;
 }
.icon-arrow s {
    width: 12px;
    height: 7px;
    line-height: 16px;
    position: absolute;
    top: -8px;
}
.dropdown {
    margin-right: 10px;
    position: relative;
}
/* 公共样式 End */

/*  ------------------------------- 通栏 Begin */
.dm-shortcut {
    width: 100%;
    height: 42px;
    line-height: 42px;
    background: rgba(165, 165, 165, 0.3);
    position: relative;
}
.dm-shortcut ul {
    padding-right: 10px;
}
.dm-shortcut li {
    color: #646464;
    float: left;
}
.dm-shortcut .spacer{
    width: 1px;
    height: 12px;
    padding: 0;
    margin: 14px 10px 0;
    background: #ff24d2;
    overflow: hidden;
}
/* 通栏 End */

/*  -------------------------------  logo/搜索栏/购物车Begin */
.dm-header {
    height: 100px;
    line-height: 100px;
}
/* -------logo */
.dm-header .logo{
    height: 100px;
    width: 300px;
    background: url("../images/domi.png");
    margin-right: 50px;
}
.dm-header .logo h1 {
    text-align: center;
    text-indent: -10000px;
    font-size: 36px;
    color: #ff24d2;
}
/* --------search*/
.dm-header .search {
    /*如何消除标签间的空格的缝隙? */
    font-size: 0;
}
.dm-header .search .search-txt{
    width: 500px;
    height: 42px;
    font-size: 16px;
    border: 3px solid #ff24d2;
    box-sizing: border-box;
    padding: 0 10px;
}
.dm-header .search .search-btn {
    width: 60px;
    height: 42px;
    line-height: 42px;
    color:white;
    font-size: 16px;
    font-weight: bold;
    background: #ff24d2;
}
/* --------cart*/
.dm-header .cart {
    width: 140px;
    height: 38px;
    line-height: 42px;
    font-size: 16px;
    text-align: right;
    padding-right: 20px;
    border:1px solid #ff24d2;
    background: rgba(165, 165, 165, 0.2);
    margin-top: 30px;
    position: relative;
    right: 20px;
}
.cart .fa {
    font-size: 24px;
    color: #ff24d2;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -12px;
}
.cart .arrow-right {
    font-weight: bold;
    font-family: "SimSun", "宋体";
}
/*  logo/搜索栏/购物车 End */
/* ----------------------------------  导航栏 Begin*/
.dm-nav {
    position: relative;
}
.dm-nav .nav{
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #ff24d2;
}
.dm-nav li {
    float: left;
    width: 242px;
    box-sizing: border-box;
    text-align: center;
}
.dm-nav .nav-content li{
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: absolute;
    opacity: 0;
    z-index: 999;
    background: rgba(255,255,255,0.6);
}
/* 导航栏 End */
/* --------------------------------------- 轮播图 Begin */
.dm-lbt {
    height: 450px;
    overflow: hidden;
    position: relative;
}
/* ---------- 轮播图片*/
.dm-lbt .lbt-img li {
    opacity: 0;
    position: absolute;
    z-index: 0;
}
.dm-lbt .lbt-img li.first{
    opacity: 1;
    z-index: 1;
}
/* ------------ 左右按钮 */
.dm-lbt .lbt-arrow {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
}
.dm-lbt .lbt-arrow span {
    width: 42px;
    text-align: center;
    font-family: "SimSun", "宋体";
    font-size: 36px;
    font-weight:bold;
    color: white;
    background: rgba(0,0,0,0.3);
}
/* ---------- 自动切换小图标 */
.dm-lbt .lbt-num {
    width: 200px;
    height: 20px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    margin-bottom: 10px;
    left: 50%;
    margin-left: -100px;
}
.dm-lbt .lbt-num li{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    float: left;
    margin: 0 10px;
}
.dm-lbt .lbt-num li.current {
    background: rgba(255, 36, 210, 1);
}
/*轮播图 End */
/* --------------------------------------- 今日热门 Begin*/
.dm-today {
    height: 300px;
    margin-top: 12px;
}
/* --------------今日热门标题*/
.dm-today .today-title{
    width: 200px;
    height: 300px;
}
.dm-today .today-title li{
    width: 100px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    box-sizing: border-box;
    float: left;
}
.dm-today .today-title li.new {
    color: yellow;
}
    /* ----------- 今日热门内容*/
.dm-today .today-content {
    width: 1000px;
    height: 300px;
    line-height: 300px;
    position: relative;
}
.dm-today .today-content li{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    box-sizing: border-box;  /*放置在设置边框的元素里面*/
}
.dm-today .today-content li.new{
    opacity: 1;
}
/*---------背景颜色 bg*/
.bg-pink {
    background: rgb(251, 128, 88);
}
.bg-orange {
    background: rgb(242, 187, 108);
}
.bg-green {
    background: rgb(126, 207, 119);
}
.bg-blue {
    background: rgb(117, 168, 228);
}
/*---------边框颜色 b*/
.b-pink {
    border: 2px solid rgb(251, 128, 88);
}
.b-orange {
    border: 2px solid rgb(242, 187, 108);
}
.b-green {
    border: 2px solid rgb(126, 207, 119);
}
.b-blue {
    border: 2px solid rgb(117, 168, 228);
}
/*今日热门End*/

/*---------------------------------------------品牌汇 Begin */
.dm-pinpaihui {
    margin-top: 20px;
    height: 100px;
    line-height: 100px;
}
.dm-pinpaihui .title {
    width: 200px;
    height: 100px;
    font-size: 28px;
    font-weight: bold;
    font-family: '黑体';
    color: #572fdc;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #2989f0;
}
.dm-pinpaihui ul li {
    float: left;         /*品牌汇里的列表li都会左浮动*/
}
.dm-pinpaihui ul li a{
    display: block;
    box-sizing: border-box;      /* c3属性  宽高大小以什么为准*/
    width: 200px;
    height: 100px;
    font-size: 20px;
    text-align: center;
    color: #f8f8f8;
    background: #75A8E4;
    border: 1px solid #2989f0;
    position: relative;
}
.dm-pinpaihui ul li a span {
    position: relative;
    z-index: 2;
}
.dm-pinpaihui ul li a::before {
    position: absolute;
    width: 200px;
    height: 100px;
    z-index: 1;
    content: "";
    top: -1px;
    left: -1px;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 36, 210, 1);
    -webkit-transition: all .4s ease;    /* css3属性 ------ 过渡效果*/
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: scale(.5);  /* css3属性 ------ scale 缩放比例*/
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
}
.dm-pinpaihui ul li:hover a::before{
    -webkit-transform: scale(0.99);
    -moz-transform: scale(0.99);
    -ms-transform: scale(0.99);
    -o-transform: scale(0.99);
    transform: scale(0.99);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}
/*-------------------品牌汇内容pinpai-content   Begin */
.dm-pinpaihui .pinpai-content {
    height: 400px;
    border: 2px solid #2989f0;
}
.dm-pinpaihui .pinpai-content li{
    opacity: 0;
}
.dm-pinpaihui .pinpai-content .oppo{
    opacity: 1;
}
/* 品牌汇 End  */
/* ---------------------------------------------广告1 Begi*/


/* 广告1 End */


/*------------------这是分割线---------------------------------------------------*/

/* --------------------------------------- content Begin */
.dm-content{
    width: 100%;
    height: 500px;
}
/*content End*/
/* --------------------------------------- 底部footer Begin */
.footer{
    height: 100px;
}
/*底部 footer End*/