body{
    background-color: #f3dddf;
}
/* ----------------------------------  导航栏 Begin*/
.dm-nav .nav-content li{
    height: 60px;
    line-height: 60px;
}
/* 导航栏 End */
/* ----------------------------------- oppo-logo Begin*/
.oppo-logo {
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    color: #ff24d2;
}
.oppo-logo i{
    color: #009a72;
    font-size: 26px;
}
/* oppo-logo End*/
/* ------------------------------------oppo-main-content Begin*/
.oppo-main-content {
    height: 738px;
    overflow: hidden;
}
.oppo-main-content a{
    overflow: hidden;
}
.oppo-main-content .oppo-main-left a{
    display: block;
    height: 365px;
    width: 770px;
    position: relative;
    margin-bottom: 8px;
}
.oppo-main-content .oppo-main-left img{
    height: 365px;   /*控制图片大小*/
}
.oppo-main-content .oppo-main-left .photo{
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
}
.oppo-main-content .oppo-main-left .content{
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
}
/* -------- oppo-main-right */
.oppo-main-content .oppo-main-right a{
    display: block;
    width: 396px;
    height: 738px;
    position: relative;
}
.oppo-main-content .oppo-main-right img{
    height: 738px;
}
.oppo-main-content .oppo-main-right .photo{
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
}
.oppo-main-content .oppo-main-right .content {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 0px;
}
.oppo-main-content img {
    transition: all 1.2s ease;   /* css3属性--- 动画变化的速度等属性*/
}
.oppo-main-content a:hover img.photo {
    transform: scale(1.05);      /* css3属性---鼠标悬停时放大 */
    transition-delay: 0s;
}
/* oppo-main-content End*/

/* -----------------------------------------------------------------------oppo-goods Begin */
/*-----------产品系列标题--------------*/
.oppo-goods .oppo-goods-title {
    height: 100px;
    line-height: 100px;
    font-size: 26px;
    text-align: center;
    color: black;
    position: relative;
}
.oppo-goods .oppo-goods-title .left {
    width: 500px;
    border-bottom: solid #009a72 1px;
    position: absolute;
    top: 50px;
    left: 0;
}
.oppo-goods .oppo-goods-title .right {
    width: 500px;
    border-bottom: solid #009a72 1px;
    position: absolute;
    top: 50px;
    right: 0;
}
.oppo-goods .goods-content {
    /*height: 500px;*/
    /*background: #ffffff;*/
    overflow: hidden;
}
/*---------产品内容-------*/
.oppo-goods .goods-content li{
    float: left;
    width: 295px;
    height: 350px;
    background: white;
    text-align: center;
    box-sizing: border-box;
    padding: 45px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.oppo-goods .goods-content li:nth-child(4n){   /*选中4倍数的元素*/
    margin-right: 0px;
}
/*图片*/
.oppo-goods .goods-content li .picture{
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 180px;
}
.oppo-goods .goods-content .picture img {
    width: 160px;
}
/*内容,包括标题,价格,简介*/
.oppo-goods .goods-content .content {
    display: inline-block;
    margin-top: 35px;
}
.oppo-goods .goods-content .goods-title{
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    font-family: "SimSun", "宋体";
    color: black;
}
.oppo-goods .goods-content .goods-title i{
    color: red;
}
.oppo-goods .goods-content .goods-desc{
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
}
/* oppo-goodsEnd*/
/*--------------------------------------------------------------------oppo-features Begin */
.oppo-features {
    margin-bottom: 50px;
}
.oppo-features .oppo-features-title {
    height: 100px;
    line-height: 100px;
    font-size: 26px;
    text-align: center;
    color: black;
    position: relative;
}
.oppo-features .oppo-features-title .left {
    width: 500px;
    border-bottom: solid #009a72 1px;
    position: absolute;
    top: 50px;
    left: 0;
}
.oppo-features .oppo-features-title .right {
    width: 500px;
    border-bottom: solid #009a72 1px;
    position: absolute;
    top: 50px;
    right: 0;
}
/* oppo-features End */

/*底部Begin---------------------------------------------------------------------------------底部Begin*/
.footer {
    background: linear-gradient(to bottom,#f3dddf, #ea83c7);
}
.footer .footer-logo {
    color: #009a72;
}
/*-------------底部分享链接---------*/
.footer .footer-share a{
    background: #8a8a8a;
}

.footer .footer-share a .fa {
    color: #ffe8ea;
}
.footer .footer-share .line {
    background: #666;
}
.footer .footer-share a:last-of-type {
    color: #ffe8ea;
}
.footer .footer-share a:hover {
    background: #009a72;
}
/*--------------底部相关网站链接 ---------*/
.footer .footer-siteLinks a {
    color: #000;
}
.footer .footer-siteLinks a:hover {
    color: #009a72;
}
/*-------底部版权--------*/
.footer .footer-copyright {
    color: #000;
}
.footer .footer-copyright a {
    color: inherit;
}
/*底部End----------------------------------------------------------------------------------底部End*/
