/*手机社区样式*/
body {
  background-color:#cdf6a8;
}
.dm-header .goods-nav {
    font-size: 22px;
    font-weight: bold;
}
.dm-header .goods-nav li{
    float: left;
    height: 100px;
    line-height: 155px;
    margin:0px 25px;

}
/*-----------------------------导航栏效果Begin-----------------*/
.dm-header .nav-content li{
  /*  width: 50%;
    height: 40px;*/
    line-height: 40px;
    text-align: left;
    position: absolute;
    top: 140px;
    left: 520px;
    opacity: 0;
    z-index: 999;
    border: 1px solid #f5a7ec;
    background: rgba(250,230,36,0.1);   /*改变导航栏透明度*/
}

.dm-header .nav-content li a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin:0px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.dm-header .nav-content li a:hover {
    color: #3fcab8;
}
/*-----------------------------导航栏效果End-----------------*/
.dm-header .cart {
    margin-top: 55px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
    background: none;
}
.dm-header .cart a {
    color: #ff24d2;
}
.dm-header .cart .fa {
    color: #ff24d2;
    font-size: 30px;
    left: 25px;
    top: 40%;
}
/* ----------------------------------------- 面包屑导航wrapper Begin*/
.wrapper {
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #777777;
    padding-left: 100px;
}
.wrapper .breadcrumb li{
    float: left;
    margin: 0px 5px;
}
.wrapper .breadcrumb a {
    color: inherit;
}

/*面包屑导航 wrapper End*/   /*-----------以上是和商品详情页重复----------*/
/* -----------------------------------------------手机社区topic   Begin*/
.topic {
}
/*--------------------------------左边话题内容topic-left Begin*/
.topic .topic-left {
    width: 850px;
    height: 500px;
    line-height: 50px;
    background: white;
    box-sizing:border-box;
    padding: 30px;
}
.topic-left label {
    font-size: 20px;
    margin-right: 10px;
}
.topic-left input {
    width: 500px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    border:1px solid #3fcab8;
    padding: 0px 10px;
}
.topic-left textarea {
    font-size: 18px;
    border:1px solid #3fcab8;
    padding: 20px;
}
.topic-left .publish {
    position: relative;
}
.topic-left .publish input {
    width: 120px;
    height: 45px;
    line-height: 45px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border:1px solid #3fcab8;
    border-radius: 5px;
    background: #3fcab8;
    position: absolute;
    right: 5px;
    top: -5px;
}
.topic-left .publish input:hover {
    background: #22c459;
  }
 /*左边话题内容topic-leftEnd*/

/*--------------------------------- 右边发表话题及个人信息展示部分 topic-right Begin*/
.topic .topic-right {
    width: 320px;
}
/*------------发布帖子*/
.topic-right .publish {
    padding: 25px 50px;
    background: white;
}
.topic-right .publish a {
    position: relative;
    height: 60px;
}
.topic-right .publish a:hover {
    color: #3fcab8;
}
.topic-right .publish a span{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #3fcab8;
    margin-right: 50px;
    position: relative;
}
.topic-right .publish span i.fa {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 15px;
    left: 18px;
}
.topic-right .publish a b{
    position: absolute;
    width: 100px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
}
/*------------------签到*/
.topic-right .sign {
    padding: 25px 50px;
    margin-top: 30px;
    background: white;
}
.topic-right .sign a {
    position: relative;
    height: 60px;
}
.topic-right .sign a:hover {
    color: #3fcab8;
}
.topic-right .sign a span{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #1aacf5;
    margin-right: 50px;
    position: relative;
}
.topic-right .sign span i.fa {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 15px;
    left: 16px;
}
.topic-right .sign a .signW{
    position: absolute;
    width: 100px;
    height: 60px;
    line-height: 50px;
    font-size: 24px;
}
.topic-right .sign a .number{
    color: #aaa;
}
.topic-right .sign a .number b{
    color: #666;
}
/*------------------个人话题*/
.topic-right .person {
    padding: 25px 50px;
    margin-top: 30px;
    background: white;
}
.topic-right .person a {
    position: relative;
    height: 60px;
}
.topic-right .person a:hover {
    color: #3fcab8;
}
.topic-right .person a span{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #a5f242;
    margin-right: 50px;
    position: relative;
}
.topic-right .person span i.fa {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 15px;
    left: 18px;
}
.topic-right .person a .signW{
    position: absolute;
    width: 100px;
    height: 60px;
    line-height: 50px;
    font-size: 24px;
}
.topic-right .person a .number{
    color: #aaa;
}
.topic-right .person a .login-go{
    color: red;
}
.topic-right .person a .number b{
    color: #666;
}

.topic-right .person .topics {
    margin-top: 30px;
}
.topic-right .person .topics li {
    line-height: 20px;
    margin-top: 20px;
}
.topic-right .person .topics li h5{
    font-size:  16px;
}














/*右边发表话题及个人信息展示部分 topic-right  End*/
/*手机社区topic End
/*底部Begin---------------------------------------------------------------------------------底部Begin*/
.footer {
     margin-top: 50px;
      background: linear-gradient(to bottom,#cdf6a8, #a4e16c);
}
.footer .footer-logo {
    color: #8a8a8a;
}
/*-------------底部分享链接---------*/
.footer .footer-share a{
    background: #8a8a8a;
}

.footer .footer-share a .fa {
    color: #ffe8ea;
}
.footer .footer-share .line {
    background: #666;
}
.footer .footer-share a:last-of-type {
    color: #ffe8ea;
}
.footer .footer-share a:hover {
    background: #009a72;
}
/*--------------底部相关网站链接 ---------*/
.footer .footer-siteLinks a {
    color: #000;
}
.footer .footer-siteLinks a:hover {
    color: #009a72;
}
/*-------底部版权--------*/
.footer .footer-copyright {
    color: #000;
}
.footer .footer-copyright a {
    color: inherit;
}
/*底部End----------------------------------------------------------------------------------底部End*/
