/*购物车样式*/
body {
    background: #f2f2f2;
}
.dm-header {
    background: white;
}
.dm-header .goods-nav {
    font-size: 22px;
    font-weight: bold;
}
.dm-header .goods-nav li{
    float: left;
    height: 100px;
    line-height: 120px;
    margin:0px 25px;
}

.dm-header .nav-content li{
  /*  width: 50%;
    height: 40px;*/
    line-height: 40px;
    text-align: left;
    position: absolute;
    top: 125px;
    left: 520px;
    opacity: 0;
    z-index: 999;
    border: 1px solid #f5a7ec;
    background: rgba(250,230,36,0.1);   /*改变导航栏透明度*/
}

.dm-header .nav-content li a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin:0px 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.dm-header .nav-content li a:hover {
    color: #ff24d2;
}
.dm-header .cart {
    margin-top: 37px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
    background: none;
}
.dm-header .cart a {
    color: #ff24d2;
}
.dm-header .cart .fa {
    color: #ff24d2;
    font-size: 22px;
    left: 25px;
    top: 60%;
}
/* ----------------------------------------- 面包屑导航wrapper Begin*/
.wrapper {
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
    color: #777777;
    padding-left: 60px;
}
.wrapper .breadcrumb li{
    float: left;
    margin: 0px 5px;
}
.wrapper .breadcrumb a {
    color: inherit;
}
/*面包屑导航 wrapper End*/   /*-----------以上是和商品详情页重复----------*/

/*------------------------------------------------个人中心内容cart-box Begin*/
.user {
    height: 80px;
    background: white;
    box-sizing:border-box;
    padding: 20px;
}
.user h5 {
    line-height: 36px;
    color: #333;
    font-family: "楷体";
    font-size: 20px;
}
.user p {
    line-height: 36px;
    margin-left: 20px;
    font-size: 18px;
}
.user a {
    display: inline-block;
    line-height: 36px;
    margin-left: 30px;
    color: red;
}
.user form {
    float: left;
    line-height: 30px;
    margin-left: 50px;
    margin-top: 4px;
    display: none;
}
.user form input {
    height: 25px;
    text-indent: 10px;
    border: 1px solid red;
    margin-right: 10px;
}
.user form .submit {
    width: 50px;
    height: 25px;
    text-indent: 0px;
    background: #ff8a00;
    border: 1px solid red;
    margin-right: 10px;
    cursor: pointer;
}
/*收货人信息部分Begin*/
.order-form {
    background: white;
    margin-top: 20px;
    box-sizing:border-box;
    padding:20px;
}
.order-form .box {
    position: relative;
    margin-bottom: 20px;
}
.order-form .box h5 {
     font-size: 18px;
     font-weight: bold;
     color: #333;
     line-height: 36px;
}
/*添加地址信息按钮*/
.order-form .box .add-address {
    position: absolute;
    right: 10px;
    top: 5px;
    color: blue;
}
.order-form .box .add-address:hover{
    color: #ff24d2;
    cursor: pointer;
}
/*添加地址输入信息*/
.order-form .box  .add {
    padding-left: 20px;
    display: none;
}
.order-form .box  .add input{
    width: 150px;
    height: 24px;
    font-size: 12px;
    text-indent: 3px;
    border: 1px solid red;
    text-align: center;
    margin-right: 10px;
}
.order-form .box  .add .addr-address {
    width: 500px;
}
.order-form .box  .add .add-btn {
    display: inline-block;
    width: 50px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 3px;
    color: white;
    background: #ff7600;
    cursor: pointer;
}
/*修改地址输入信息*/
.order-form .box  .edit {
    padding-left: 20px;
    margin-top: 10px;
    display: none;

}
.order-form .box  .edit input{
    width: 150px;
    height: 24px;
    font-size: 12px;
    text-indent: 3px;
    border: 1px solid #75c473;
    text-align: center;
    margin-right: 10px;
}
.order-form .box  .edit .addr-address {
    width: 500px;
}
.order-form .box  .edit .add-btn {
    display: inline-block;
    width: 50px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 3px;
    color: white;
    background: #75c473;
    cursor: pointer;
}
/*地址信息*/
.order-form .box .address {
    position: relative;
    padding: 10px 20px 0px;
    height: 26px;
    line-height: 24px;
    font-size: 12px;
    overflow: hidden;
}
.order-form .box .addr-name {
    display: inline-block;
    width: 150px;
    text-align: center;
    border: 1px solid #ccc;
}
.order-form .box .address i {
    display: none;
}
.order-form .box .addr-name:hover {
     border: 1px solid red;
}
.order-form .box .addr-address {
    display: inline-block;
    text-align: left;
    text-indent: 10px;
}
/*地址操作  编辑/修改*/
.order-form .box .address div {
    position: absolute;
    right: 42px;
    top: 12px;
}
.order-form .box .address div a {
    color:blue;
    margin-right: 20px;
    cursor: pointer;
}
.order-form .box .address div a:hover {
    color: #ff24d2;
}

/*订单商品内容Begin*/
.order-box {
    background: white;
    margin-top: 20px;
    box-sizing:border-box;
    padding:20px;
}
/*我的订单头部*/
.order-box .order-top {
    line-height: 36px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}
.order-box .order-top a {
    color: red;
}
.order-box .orders {
    border:1px solid #f2f2f2;
    margin-bottom: 20px;
}
/*订单信息-时间,订单号*/
.order-box .message {
    height: 30px;
    line-height: 30px;
    color: #999;
    background: #f5f5f5;
    padding-left: 15px;
}
.order-box .message span {
    margin: 0px 50px 0px 10px;
}
.order-box .message span.order-id {
    color: #333;
}
/*订单内容Begin*/
.order-box .product {
    width: 607px;
    border-right: 1px solid #f0f0f0;
    padding:10px;
}
.order-box  .product .prod-details{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #f0f0f0;
}
.order-box .product .prod-details:last-of-type {
    border-bottom: none;
}

/*商品图片 标题 属性*/
.order-box .product .product-img img {
    width: 90px;
    height: 90px;
}
.order-box .product .product-info h3 {
    font-size: 14px;
    line-height: 48px;
}
.order-box .product .product-info h3 a {
    color: #333;
}
.order-box .product .product-info p {
    font-size: 12px;
}
.order-box .product .product-info p span {
    margin-right: 10px;
}
/*商品单价及数量*/
.order-box .product .product-price span{
    font-size: 14px;
    line-height: 50px;
    padding-right: 10px;
}
.order-box .product .product-price .price {
   color: #e4393c;
   font-weight: bold;
   margin-right: 40px;
}
/*订单内容End*/
/*收货人信息,订单总额,订单状态  other  Begin*/
.order-box .orders .other {
    width: 130px;
    line-height: 25px;
    color: #999;
    text-align: center;
    box-sizing:border-box;
    padding:10px;
    border-right: 1px solid #f0f0f0;
}
.order-box .orders .other:last-of-type{
    border-right:none;
}
.order-box .orders .other .addr-name {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}
.order-box .orders .other .addr {
    color: #666;
}
.order-box .orders .other .price {
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.order-box .orders .other .state {
    line-height: 36px;
    font-size: 18px;
    font-weight: bold;
    color: #e4393c;
}
.order-box .orders .other .make {
    display: inline-block;
    width: 90px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    color: #e4393c;
    margin: 10px 0px 0px;
    border: 1px solid #e4393c;
}
.order-box .orders .other .make:hover{
    color: white;
    background: #e4393c;
}
.order-box .orders .other .cancel {
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
}
.order-box .orders .other .cancel:hover{
    color: #e4393c;
}
/*收货人信息,订单总额,订单状态End*/
/*订单总额信息*/
.order-box .get-all {
    text-align: right;
     height: 50px;
     font-size: 14px;
}
.order-box .get-all .all-price {
    color: #e4393c;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana;
    margin: 0px 20px;
}
.order-box .get-all .all-num {
    color: #999;
    font-size: 16px;
    font-weight: bold;
    font-family: Verdana;
    margin: 0px 5px;
}

/*订单详情内容End
/*个人中心内容cart End*/
















