/*---------------------------管理员信息管理主体部分 Begin*/
.main-content .current-admin{
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 10px;
}
.main-content .admin-add-form input  {
    width: 200px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-indent: 5px;
    color: #201010;
    border-radius: 2px;
}
.main-content .admin-add-form input:last-of-type {
    width: 60px;
    margin-left: 20px;
    cursor: pointer;
    text-indent: 0px;
    border-radius: 5px;
    background: #45ff8e;
}
/*------------------------添加管理员*/
.main-content .admin-add-form {
     width: 80%;
    position: relative;
}
.main-content .admin-add-form  form{
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 10px;
}
.main-content .admin-add-form .admin-cancel{
    position: absolute;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background: #e6e600;
    top: -47px;
    right: 20px;
}
.main-content .admin-add-form .admin-cancel {
     top: 12px;
}
.main-content .admin-add-form .admin-cancel a {
    color: black;

}
/*添加管理员*/
/*管理员信息管理主体部分  End*/