/* -------------------------------index主要内容部分 Begin */
.main-content {
    height: 500px;
    line-height: 50px;
}
/*主要内容主体 End*/
.main-content .index {
    width: 95%;
    height: 550px;
    background: white;
    text-align: center;
}
.main-content .index img {
    margin-top: 80px;
    margin-bottom: 50px;
    width: 600px;
    height: 200px;
}
.main-content h3 {
    font-size: 26px;
    font-family: "楷体";
    color: #666;
}
.main-content h3 span {
    color: #006cea;
    font-weight: bold;
}
