.main-content {
    height: auto;
    padding-bottom: 0px;
}
.left-nav .order a{
    color: yellow;
    font-weight: bold;
}
.left-nav .order a .fa {
    color:yellow;
}
/*--------------------------商品订单管理主体部分 Begin*/
/*------------------商品订单列表*/
.main-content .admins {
    width: 80%;
    min-height: 400px;  /*最小高度*/
    padding: 20px;
    background: #f9f9f9;
    position: relative;
}

.main-content .admins table {
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #201010;
}
.main-content .admins table th {
    border: 1px solid #696969;
}
.main-content .admins table td a {
    color: inherit;
}
.main-content .admins table tr:first-of-type{
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    background: #c2c2c2;
}
.main-content .admins table td {
    width: 200px;
    border: 1px solid #ccc;
}
.main-content .admins table td span {
    color: red;   /*商品数量*/
}
.main-content .admins table td.price {
    color: red;  /*订单总额*/
}
.main-content .admins table td.get {
    color: #62DD2D;  /*确认订单状态*/
    font-weight: bold;
}
.main-content .admins table td.cancel {
    color: red;  /*取消订单状态*/
    font-weight: bold;
}
.main-content .admins table td:first-of-type {
    width: 80px;
}
.main-content .admins .admin-edit {
    display: inline-block;
    margin-right: 20px;
    color: #30a0f8;
}
.main-content .admins .admin-del {
    color: #ff4b43;
}

/*商品订单管理主体部分  End*/