.main-content {
    height: auto;
    padding-bottom: 0px;
}
.left-nav .prod-type a{
    color: yellow;
    font-weight: bold;
}
.left-nav .prod-type a .fa {
    color:yellow;
}
/*---------------------------商品分类管理主体部分 Begin*/
/*------------------------添加商品分类*/
.main-content .admin-add-form {
     width: 80%;
    position: relative;
    margin-top: 50px;
}
.main-content .admin-add-form  form{
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 10px;
}
.main-content .admin-add-form .admin-add{
    position: absolute;
    width: 180px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background: #e6e600;
    top: -47px;
    right: -40px;
}
.main-content .admin-add-form .admin-add a {
    color: black;
}
/*添加商品分类*/
/*------------------商品分类信息表*/
.main-content .admins {
    width: 80%;
    min-height: 400px;  /*最小高度*/
    padding: 20px;
    background: #f9f9f9;
    position: relative;
}

.main-content .admins table {
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #201010;
}
.main-content .admins table th {
    border: 1px solid #696969;
}
.main-content .admins table td a {
    color: inherit;
}
.main-content .admins table tr:first-of-type{
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    background: #c2c2c2;
}
.main-content .admins table td {
    width: 200px;
    border: 1px solid #ccc;
}
.main-content .admins table td:first-of-type {
    width: 80px;
}
.main-content .admins table td.type-name {
    width: 320px;
}
.main-content .admins .admin-edit {
    display: inline-block;
    /*margin-right: 50px;*/
    color: #30a0f8;
}
.main-content .admins .admin-del {
    color: #ff4b43;
}


/*商品分类管理主体部分  End*/