.main-content {
    height: auto;
    padding-bottom: 0px;
}
.left-nav .product a{
    color: yellow;
    font-weight: bold;
}
.left-nav .product a .fa {
    color:yellow;
}
/*---------------------------商品信息管理主体部分 Begin*/
/*------------------------商品分类显示 */
.main-content .prod-type {
     width: 80%;

}
.main-content .prod-type li{
     float: left;
     line-height: 30px;
     color: yellow;
     margin-right: 10px;
}
.main-content .prod-type li:last-of-type {
    display: none;
}
.main-content .prod-type li a {
    color: inherit;
    font-size: 20px;
}
/*------------------------头部-搜索+添加商品 */
.main-content .prod-top {
     width: 84%;
     margin-top: 20px;
}
.main-content .prod-top{
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}
.main-content .prod-top .prod-search {
    width: 500px;
    font-size: 0px;
    position: relative;
}
.main-content .prod-top .prod-search  .search {
    width: 300px;
    height: 29px;
    line-height: 30px;
    font-size: 16px;
    border-radius:3px 0px 0px 3px;
    text-indent: 10px;
    position: absolute;
    right: 50px;
}
.main-content .prod-top .prod-search  .search-btn {
    display: inline-block;
    width:50px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    background: #e35336;
    color: white;
    border-radius:0px 3px 3px 0px;
    position: absolute;
    right: 0px;
}
.main-content .prod-top .prod-back{
    width: 240px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background: #4695e3;
}
.main-content .prod-top .prod-back a {
    color: white;
}
.main-content .prod-top .prod-add{
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background: #59e346;
}
.main-content .prod-top .prod-add a {
    color: black;
}
/*------------------商品信息表*/
.main-content .product {
    width: 80%;
    min-height: 400px;  /*最小高度*/
    padding: 20px;
    background: #f9f9f9;
    position: relative;
}

.main-content .product table {
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #201010;
}
.main-content .product table th {
    border: 1px solid #696969;
}
.main-content .product table td a {
    color: inherit;
}
.main-content .product table tr:first-of-type{
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    background: #c2c2c2;
}
.main-content .product table td {
    width: 200px;
    border: 1px solid #ccc;
}
.main-content .product table td.prod-id {
    width: 80px;
}
.main-content .product table td.prod-type {
    width: 130px;
}
.main-content .product .admin-edit {
    display: inline-block;
    margin-right: 20px;
    color: #30a0f8;
}
.main-content .product .admin-del {
    color: #ff4b43;
}

/*商品信息管理主体部分  End*/