.main-content {
    height: auto;
    padding-bottom: 0px;
}
.left-nav .product a{
    color: yellow;
    font-weight: bold;
}
.left-nav .product a .fa {
    color:yellow;
}
/*--------------------------商品详情主体部分 Begin*/
.main-content .product {
    width: 90%;
    min-height: 500px;  /*最小高度*/
    padding: 20px;
    color: #333;
    background: #f9f9f9;
    position: relative;
}
.main-content a {
    color: #333;
}
.product .wrapper {
    height: 40px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: yellow;
    border-bottom: 1px solid blue;
}
.product .wrapper  b {
      color: #3eb30a;
}
.product .wrapper a{
    display: inline-block;
  color: #3eb30a;
  margin-right: 10px;
}
.product .wrapper .fr .prod-add{
    color: #ffc500;
}
.product .wrapper .fr .prod-edit{
  color: #30a0f8;
}
.product .wrapper .fr .prod-del{
  color: #ff4b43;
}
/*-------商品内容-------*/
.product .prod-details {
    margin-top: 20px;
    font-size: 20px;
    line-height: 40px;
    padding-left: 20px;
}
.product .prod-details  .content {
    width: 80%;
    min-height: 40px;
    padding-left: 30px;
    font-weight: bold;
}
.product .prod-details .content {
    width: 80%;
}
.product .prod-details .content .prod-pic {
    width: 100%;
    padding: 10px;
    border-bottom: 1px dashed #30a0f8;
}
.product .prod-details .content img{
    max-height: 300px;
    max-width: 100%;
}
/*商品详情主体部分 End*/